html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

/* navbar */
/* End navbar */

main {
    flex: 1;
}

footer {
    background: #ffffff;
    padding: 10px 0;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
